<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start" defaultHref="home">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title> {{ (equipmentType$ | async)?.fields?.name }} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <div
            *ngFor="let listItem of equipmentList$ | async"
            [routerLink]="['/equipment', listItem.sys.id]"
        >
            {{ listItem.fields.name }}
        </div>
    </div>
</ion-content>
