<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title> {{ (equipmentType$ | async)?.fields?.name }} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [forceOverscroll]="false" class="ion-padding">
    <app-list-item
        *ngFor="let listItem of equipmentList$ | async"
        [routerLink]="['/equipment', listItem.sys.id]"
        [title]="listItem.fields.name"
    />
</ion-content>
