<ion-content [forceOverscroll]="false">
    <img src="/assets/logo.png" />
    <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-item>
            <ion-input
                label="Kullanıcı Adı"
                formControlName="username"
                labelPlacement="floating"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-input
                label="Şifre"
                formControlName="password"
                type="password"
                labelPlacement="floating"
            ></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">Submit</ion-button>
    </form>
</ion-content>
