<ion-content [forceOverscroll]="false">
    <img src="/assets/logo.png" />
    <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-item>
            <ion-input
                label="Kullanıcı Adı"
                formControlName="username"
                labelPlacement="floating"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-input
                label="Şifre"
                formControlName="password"
                type="password"
                labelPlacement="floating"
            ></ion-input>
        </ion-item>
        <ion-button
            type="submit"
            expand="block"
            [disabled]="form.invalid || viewStatus === ViewStatus.LOADING"
        >
            <ion-spinner
                *ngIf="viewStatus === ViewStatus.LOADING; else buttonText"
                name="lines-sharp-small"
            ></ion-spinner>
            <ng-template #buttonText> Giriş Yap </ng-template>
        </ion-button>
    </form>
</ion-content>
