<ion-segment
    [value]="value"
    (ionChange)="handleChange($event)"
    [disabled]="disabled"
>
    <ion-segment-button class="true" [value]="true"
        ><ion-icon name="checkmark-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button class="indeterminate" [value]="null" disabled="true">
        <ion-icon name="remove-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button class="false" [value]="false">
        <ion-icon name="close-outline"></ion-icon>
    </ion-segment-button>
</ion-segment>
