<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Yeni bakım</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding" [formGroup]="form">
    <h2>Bakım Bilgileri</h2>
    <div
        class="task"
        [class.touched]="form.controls['type'].touched"
        [class.valid]="form.controls['type'].valid"
    >
        <ion-item>
            <ion-select
                label="Bakim Tipi"
                labelPlacement="stacked"
                placeholder="Bakim tipini secin"
                formControlName="type"
            >
                <ion-select-option value="Periyodik"
                    >Periyodik</ion-select-option
                >
                <ion-select-option value="Arıza">Arıza</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
    <h2>Yapılacak İşler</h2>
    <ng-container *ngFor="let task of maintenanceTasks.controls; let i = index">
        <div
            class="task"
            [class.touched]="task.touched"
            [class.valid]="task.valid"
            [formGroup]="task"
        >
            <h4>{{ i + 1 }}. {{ task.get('name')?.value }}</h4>

            <ion-segment formControlName="uygun">
                <ion-segment-button [value]="true">
                    <ion-label>Uygun</ion-label>
                </ion-segment-button>
                <ion-segment-button [value]="false">
                    <ion-label>Uygun Değil</ion-label>
                </ion-segment-button>
            </ion-segment>

            <ion-segment
                formControlName="yapilanIs"
                *ngIf="(task.get('uygun')?.valueChanges | async) === false"
            >
                <ion-segment-button value="Onarıldı">
                    <ion-label>Onarıldı</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Yenilendi">
                    <ion-label>Yenilendi</ion-label>
                </ion-segment-button>
            </ion-segment>

            <ion-item>
                <ion-input
                    formControlName="description"
                    label="Açıklama"
                    labelPlacement="stacked"
                ></ion-input>
            </ion-item>
        </div>
    </ng-container>

    <div class="task">
        <ion-item>
            <ion-input
                formControlName="comments"
                label="Yorum"
                labelPlacement="stacked"
            ></ion-input>
        </ion-item>
    </div>

    <ion-button
        (click)="submit()"
        expand="block"
        [disabled]="form.invalid || submitting"
        >Gönder</ion-button
    >
</ion-content>
