<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> Ekipman Türleri </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [forceOverscroll]="false" class="ion-padding">
    <app-list-item
        *ngFor="let listItem of (equipmentTypeList$ | async)"
        [routerLink]="['/equipment-list', listItem.sys.id]"
        [title]="listItem.fields.name"
    />
</ion-content>
